name: CI pipeline

on:
  push:
    branches: [main, master]
  pull_request:
    branches: '*'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  IS_CI: true
  NEXT_PUBLIC_SERVER_URL: https://fyysikkokilta.fi
  NEXT_PUBLIC_S3_PUBLIC_URL: https://files.fyysikkokilta.fi
  NODE_ENV: production

jobs:
  lint:
    runs-on: blacksmith-4vcpu-ubuntu-2404
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - name: Setup pnpm cache
        uses: actions/cache@v4
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Generate Next.js types
        run: pnpm typegen

      - name: Type check
        run: pnpm type:check

      - name: Check lint
        run: |
          pnpm lint --fix
          if [ -n "$(git status --porcelain)" ]; then
            echo "❌ Lint is not up to date. Please commit the changes:"
            git status
            git diff
            exit 1
          else
            echo "✅ Lint is up to date"
          fi

      - name: Check types
        run: |
          pnpm generate:types
          if [ -n "$(git status --porcelain)" ]; then
            echo "❌ Types are not up to date. Please commit the changes:"
            git status
            git diff
            exit 1
          else
            echo "✅ Types are up to date"
          fi

      - name: Check importmap
        run: |
          pnpm generate:importmap
          if [ -n "$(git status --porcelain)" ]; then
            echo "❌ Importmap is not up to date. Please commit the changes:"
            git status
            git diff
            exit 1
          else
            echo "✅ Importmap is up to date"
          fi

      - name: Check migrations
        run: |
          pnpm generate:migration
          if [ -n "$(git status --porcelain)" ]; then
            echo "❌ Migrations are not up to date. Please commit the changes:"
            git status
            git diff
            exit 1
          else
            echo "✅ Migrations are up to date"
          fi

  build:
    runs-on: blacksmith-4vcpu-ubuntu-2404
    permissions:
      contents: read
      packages: write
    needs: lint

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=raw,value=sha-${{github.sha}}
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Build and push Docker image
        if: github.ref == 'refs/heads/master'
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=registry,ref=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:buildcache
          cache-to: type=registry,ref=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:buildcache,mode=max
